* {
    padding: 0px;
    margin: 0px;
}

:root {
    --warna-utama: rgba(128, 74, 0, 1); /* Warna utama untuk tombol */
    --warna-latar: rgba(128, 74, 0, 0.19);  /* Warna latar belakang halaman */
    --warna-teks: gray;     /* Warna teks default */
  }

body {
    font-family: 'Poppins', sans-serif; 

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;        
    height: 100px;
    left: 0px;
    top: 0px;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 99;
}


.element-1 {
    display: none;
    visibility: hidden;
}

.element-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.element-3 ion-icon {
    width: 30px;
    height: 30px;
    margin-right: 30px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid var(--warna-utama);
    padding: 8px;
    border-radius: 50px;
    cursor: pointer;
}

.profile img {
    width: 30px;
    border-radius: 50%;
}

a img {
    width: 180px;
}

.nav-list div {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    width:450px;
}

.nav-list div a {
    font-size: large;
    cursor: pointer;
}

.nav-list div a:hover {
    color: black;
}

.nav-list a {
    color: rgb(92, 92, 92);
    text-decoration: none;
    font-size: large;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-list .button-contact {
    background-color: var(--warna-utama);
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
}

.nav-list .button-contact a {
    color: white;
    text-decoration: none;
}

.menu-icon {
    cursor: pointer;
    display: none;
    visibility: hidden;
}

#menu-bar-close {
    display: none;
    visibility: visible;
}

/*Main Section*/
.container {
    padding: 170px 140px 30px 140px;
    position: relative;
    max-width: 1440px;
    margin: 0px auto;
    width: 100% auto ;

}

.biji-kopi-1 {
    position: absolute;
    top: -60px;
    left: 370px;
    width: 70px;
    rotate: 310deg;
}

.biji-kopi-1-1 {
    position: absolute;
    top: 450px;
    right: 250px;
    width: 70px;
    rotate: 280deg;
}

.biji-kopi-2 {
    position: absolute;
    top: 300px;
    left: 50px;
    width: 100px;
    rotate: 390deg;
}

.biji-kopi-2-2 {
    position: absolute;
    top: 150px;
    right: 50px;
    width: 80px;
    rotate: 0deg;
}

.hero {
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    position: relative;
}

.hero h1 {
    font-size: 75px;
    padding: 0px 150px;
}

.hero p {
    color :gray;
    width: 450px;
}

.button-order {
    width: 330px;
    border: solid 2px var(--warna-utama);
    padding: 10px 30px;
    border-radius: 50px;
    padding: 2px;
    display: flex;
    justify-content: start ;
    cursor: pointer ;
}


.button-order button {
    background-color: var(--warna-utama);
    color: white;
    border: none;
    padding: 13px 30px;
    border-radius: 50px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    width: 200px;
    transition: width 0.5s ease-in-out;
}
.button-order button:hover {
    background-color: var(--warna-utama);
    color: white;
    border: none;
    padding: 13px 30px;
    border-radius: 50px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    width: 500px;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: 0px auto;
}

figure img {
    width: auto;
}

/*info*/

.container-info {
    padding: 50px 140px 30px 140px;
    position: relative;
    max-width: 1440px;
    margin: 0px auto;
    width: auto;
}

.container-info > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
    

.container-info article {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.container-info article h1 {
    font-size: 45px;
}

.container-info article p {
    color :gray;
    width: 450px;
}

.teks-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.image-info {
    width:100%;
    border-radius: 30px;
}

/*Product*/
.container-product {
    padding: 50px 140px 30px 140px;
    position: relative;
    max-width: 1440px;
    margin: 0px auto;
    width: auto;
}

.container-search {
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.search-bar {
    display: flex;
    justify-content: space-between;
    width: auto;
}

.search-bar h1 {
    font-size: 25px;
    width: 20rem;
}

.search-bar input {
    padding: 13px 30px;
    border-radius: 50px;
    border: 2px solid var(--warna-utama);
    color: var(--warna-utama);
    width: 70%;
}

.product {
    padding: 20px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: auto;
}

.card-product {
    display: inline-block;
    justify-content: center;
    align-items: start;
    flex-direction: column  ;
    border: var(--warna-utama) 2px solid;
    padding: 10px;
    width: auto;
    height: auto;
    border-radius: 25px;
}

.card-product figure {
    background-color: var(--warna-latar);
    border-radius: 20px;
    height: 300px;
    padding: 20px 30px;
}

.card-product figure img {
    width: 180px;
    
}

.card-product h3 {
    margin: 2px 0px;
    font-size: 20px;
}

.card-product span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    width: 100%;
}
.card-product > p {
    font-size: 20px;
    font-weight: 500;
    margin-top: 2px;
}
.card-product span p {
    color: gray;
}
.card-product span h4 {
    color:rgb(0, 255, 0);
}


.buy-button {
    margin-top: 10px;
}

.buy-button1 {
    background-color: var(--warna-utama);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    width: 100%;
    cursor: pointer;
}

.buy-button2 {
    background-color: white;
    color:var(--warna-utama);
    border: 1px solid var(--warna-utama);
    padding: 10px 20px;
    border-radius: 50px;
    font-size: medium;
    cursor: pointer;
    margin: 5px 0px;
    width: 100%;
    cursor: pointer;
}

/*Modals*/
.container-modals {
    display: none;
    visibility: hidden;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.0);
    z-index: 100;
}
.modals {
    background-color: white;
    width: 500px;
    height: auto;
    opacity: 1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    transform: translateY(380px);
    transition: transform 0.5s ease;
    padding: 20px;
    border: 1px solid gray;
}
.modals .modals-close-button {
    display: flex;
    justify-content: end;
    width: 100%;
}
.modals div > ion-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.modals > h3 {
    margin-bottom:20px ;
}

.container-modals.active {
    display: block;
    visibility: visible;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
}

.modals.active {
    transform: translateY(0px);
}

.detail-order {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.detail-order > p {
    margin-bottom: 5px;
    font-weight: 500;
    margin-top: 10px;
}

.items {
    display: flex;
    gap: 10px;
    width: auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}

.modals > h4 {
    margin-bottom: 10px;
    float: left;
}

.items img {
    background-color: var(--warna-latar);
    padding: 20px;
    border-radius: 8px;
}

.items div {
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 10px;
}

.items span {
    margin-top: 35px;
    color: rgb(0, 255, 0);
}

.figure-items {
    width: 30%;
}


.items img {
    width: 70px;
}

.modals-button {
    width: 100%;
    display: flex;
    gap: 10px;
}
.modals-button > button:nth-child(1) {
    width: 100%;
    border-radius: 50px;
    padding: 15px 20px;
    font-size: 15px;
    border: 1px solid var(--warna-utama);
    color: var(--warna-utama);
    background-color: white;
    cursor: pointer;
}
.modals-button > button:nth-child(2) {
    width: 100%;
    border-radius: 50px;
    padding: 15px 20px;
    font-size: 15px;
    border: none;
    color: white;
    background-color: var(--warna-utama);
    cursor: pointer;
}

.type-order {
    display: flex;
    gap: 5px;
}

.type-order > *  {
    padding: 10px 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    color: gray;
}

.adress input {
    width:100%;
    padding: 15px 0px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 12px;
}



/*laptop*/
@media(max-width: 1024px) and (min-width: 769px) {

    nav {
        font-size: 12px;
        padding: 0px 35px 0px 0px;
    }
    .profile {
        padding: 6px;
        font-size: 15px;
    }
    .hero {
        padding: 70px 0px;
        gap: 20px;
    }
    .container {
        padding: 160px 60px 0px;
    }

    .hero {
        padding: 40px 0px;
    }

    .hero h1 {
        font-size: 60px;
        padding: 0px 0px;
    }

    figure {
        padding: 0px 100px;
        width: auto;
    }

    figure img {
        margin: 30px 0px;
        width: 100%;
    }

    .container-info {
        padding:50px 50px;
    }

    .container-info article h1 {
        font-size: 35px;
    }

    /*Product*/
    .container-product {
        padding: 50px 50px;
    }

}

/*Tablet*/
@media (max-width: 768px) and (min-width: 481px) {
    /* Aturan CSS yang akan diterapkan jika kondisi terpenuhi */
    .nav-list {
        visibility: hidden;
        display: none;
    }

    nav {
        justify-content: space-between;
        padding: 0px;
        margin: 0px;
        margin :0px 0px 0px 0px;
    }

    nav > .element-1 {
        width: 100%;
    }
    nav > .element-2 {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    nav > .element-3 {
        width: 100%;
        display: flex;
        justify-content: end;
    }
    /*sidebar Menu*/
    .nav-list {
        display: block;
        visibility: visible;
        position: fixed;
        z-index: 98;
        border: 1px solid var(--warna-utama);
        width: 250px;
        top: 10px;
        left: 10px;
        bottom: 10px;
        background-color: white;
        border-radius: 20px;
        padding: 20px;
        transform: translateX(-310px);
        transition: transform 0.5s ease;
    }

    #menu-bar-close {
        display: block;
        visibility: visible;
        width: 30px;
        height: 30px;
        margin-bottom: 10px;
    }

    .active {
        transform: translateX(0px);
    }

    .member {
        display: flex;
        gap: 10px;
        background-color: var(--warna-latar);
        border-radius: 15px;
        padding: 5px;
        width: auto;
        padding: 15px;
        margin-bottom: 10px;
    }
    .member h3 {
        font-size: 15px;
    }
    .member p {
        font-size: 12px;color: gray;
    }
    .member img {
        width: 30px;
        height: 30px;
        border-radius: 50px;
    }

    .nav-list div {
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: start;
    }

    .nav-list div a {
        padding: 5px 2px;
        border-radius: 3px;
    }
    .nav-list div a:hover  {
        width: 100%;
        padding: 5px 2px;
        border-radius: 3px;
        background-color: var(--warna-latar);
    }
    /*sidebar Menu*/
    .element-1 {
        display: block;
        visibility: visible;
    }

    .element-1 > ion-icon {
        margin-left:30px ;
        color: black;
        width: 35px;
        height: 35px;
    }
    .element-2  img {
        width: 150px;
        height: auto;
    }

    .menu-icon {
        display: block;
        visibility: visible;
        width: 30px;
        height: 30px;
    }
    .profile {
        width: 50%;
        margin-right: 20px;
        padding: 5px;
    }
    .profile p {
        font-size: 15px;
        padding: 2px;
    }

    /*Hero Section*/
    .container {
        padding: 100px 0px 00px 0px;
        width: 100%;
    }

    .hero {
        padding: 70px 0px;
        gap: 20px;
    }

    .hero h1 {
        font-size: 50px;
        padding: 0px 50px;
    }

    figure {
        padding: 0px 30px;
        width: auto;

    }
    
    figure img {
        width:100%;
        margin: 30px 0px;
    }

    .biji-kopi-1 {
        position: absolute;
        top: 30px;
        left: 100px;
        width: 45px;
        rotate: 310deg;
    }
    
    .biji-kopi-1-1 {
        position: absolute;
        top: 400px;
        width: 70px;
        right: 100px ;
        rotate: 280deg;
    }
    
    .biji-kopi-2 {
        position: absolute;
        top: 300px;
        left: 50px;
        width: 70px;
        rotate: 390deg;
    }
    
    .biji-kopi-2-2 {
        position: absolute;
        top: 100px;
        right: 50px;
        width: 55px;
        rotate: 0deg;
    }
    /*Info*/
    .container-info {
        padding: 30px 30px;
    }
    .container-info > div {
        flex-direction: column;
        gap: 30px 20px;
        padding: 0px 20px;
    }

    .container-info img {
        width: 100%;
        height: auto;
        background-size: cover;
    }
        

    .container-info article {
        width: auto;
        flex-direction: column;
        gap: 20px;
    }

    .container-info article h1 {
        font-size: 25px;
    }

    /*Product*/
    .container-product {
        padding: 30px 30px;
    }

    .teks-info p {
        width: auto;
    }

    .product {
    padding: 20px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: auto;
    }

    .card-product figure {
        padding: 0px 20px;
    }

    .card-product figure img {
        width: 140px;
        margin: 0px;
    }

    
    
    

}
/*Phone*/
@media (max-width: 480px) {
    /* Aturan CSS yang akan diterapkan jika kondisi terpenuhi */
    nav {
        padding: 12px 12px;
        height: 30px;
        align-items: center;
    }

    nav a {
        display: flex;

    }

    a img {
        width: 120px;
    }

    nav > .element-1 {
        width: 100%;
    }
    nav > .element-2 {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    nav > .element-3 {
        width: 100%;
        display: flex;
        justify-content: end;
    }

    /*sidebar Menu*/
    .nav-list {
        display: block;
        visibility: visible;
        position: fixed;
        z-index: 98;
        border: 1px solid var(--warna-utama);
        width: 150px;
        top: 10px;
        left: 10px;
        bottom: 10px;
        background-color: white;
        border-radius: 15px;
        padding: 20px;
        transform: translateX(-310px);
        transition: transform 0.5s ease;
    }

    .nav-list div a {
        font-size: 15px;
    }

    #menu-bar-close {
        display: block;
        visibility: visible;
        width: 15px;
        height: 15px;
        margin-bottom: 10px;
    }

    .active {
        transform: translateX(0px);
    }


    .member h3 {
        font-size: 15px;
    }
    .member p {
        font-size: 12px;color: gray;
    }
    .member img {
        width: 30px;
        height: 30px;
        border-radius: 50px;
    }

    .nav-list div {
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: start;
    }

    .nav-list div a {
        padding: 5px 2px;
        border-radius: 3px;
    }
    .nav-list div a:hover  {
        width: 100%;
        padding: 5px 2px;
        border-radius: 3px;
        background-color: var(--warna-latar);
    }
    /*sidebar Menu*/

    .profile {
        padding: 0px;
        font-size: 10px;
        gap: 3px;
        border: 1px solid var(--warna-utama);
        padding: 4px;
        align-items: center   ;
        justify-content: center     ;
    }
    .profile img {
        width: 18px;
    }

    .element-2 img {
        width: 100px;
    }

    .element-1 ion-icon {
        width: 25px;
        height: 25px;
        margin-left: 15px;
    }

    .element-1 {
        display: block;
        visibility: visible;
    }

    .element-1 {
        visibility: visible;
    }
    /*Hero Section*/
    .container {
        padding: 0px;
        width: 100%;
    }

    .hero {
        padding: 100px 0px 60px 0px;
        gap: 20px;
        width: 100%;
    }

    .hero h1 {
        font-size: 40px;
        padding: 0px 15px;
    }

    .hero p {
        font-size: 12px;
        width: 250px;
    }

    .button-order {
        width: 200px;
    }

    .button-order button {
        font-size: 12px;
        padding: 10px 20px;
    }

    figure img {
        width: 100%;
    }

    .biji-kopi-1 {
        position: absolute;
        top: 60px;
        left: 100px;
        width: 30px;
        rotate: 310deg;
    }
    
    .biji-kopi-1-1 {
        position: absolute;
        top: 400px;
        width: 45px;
        right: 100px ;
        rotate: 280deg;
    }
    
    .biji-kopi-2 {
        position: absolute;
        top: 300px;
        left: 50px;
        width: 45px;
        rotate: 390deg;
    }
    
    .biji-kopi-2-2 {
        position: absolute;
        top: 100px;
        right: 50px;
        width: 45px;
        rotate: 0deg;
    }

    /*Info*/
    .container-info {
        padding: 10px;
        width: auto;
    }
    .container-info > div {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .container-info article {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .container-info article h1 {
        font-size: 30px;
        width: auto;
    }

    .container-info article p {
        width: auto;
    }

    figure img {
        border-radius: 5px;
    }

    .image-info {
        border-radius: 15px;
    }

    .teks-info {
        display: flex;
        justify-content: start;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .container-info .teks-info button {
        width: 10rem;
    }

    .teks-info {
        flex-direction: column;
    }

    /*Product*/
    .container-product {
        padding: 10px;
    }
    .search-bar h1 {
        font-size: 20px;
    }
    .search-bar input {
        padding: 0px;
        height: 40px;
        padding: 0px 20px;
    }
    .card-product figure {
        padding: 0px;
        height: 200px;
    }
    .card-product figure img {
        width: 110px;
    }
    .card-product > p {
        font-size: 16px;
    }
    .card-product span p {
        font-size: 12px;
    }
    .card-product h4 {
        font-size: 15px;
    }
    .product {
        padding: 20px 0px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;
        width: auto;
    }

    /*Modals*/
    .container-modals.active {
        display: block;
        visibility: visible;
        position: fixed;
        top: 0px;
        display: flex;
        justify-content: center;
        align-items: end;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0, 0.5);
    }
    .modals {
        border-radius: 20px 20px 0px 0px;
    }

    .modals-button {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

}


.bounce {
    animation-name: bounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  
  @keyframes bounce {
      0% {transform: translateY(0);}
      50% {transform: translateY(-10px);}
      100% {transform: translateY(0);}
  }


              
.transDown{
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;    
}
.transDown:hover{
    transform: translatey(5px);
        -webkit-transform: translatey(5px);
        -moz-transform: translatey(5px);
}
              
              
